<header>
    <h1>Hôtel de Rêve</h1>
    <div class="search-bar">
        <input type="text" placeholder="Rechercher une ville...">
        <button>Rechercher</button>
    </div>
</header>

<main>
    <div class="city">
        <div *ngFor="let city of listCities" (click)="filterByCity(city.id)" class="city-buttons">
            <button class="city-button">{{ city.name }}</button>
        </div>
        <button (click)="resetFilter()" class="city-button">Toutes les villes</button>
    </div>
    <section class="rooms">
        <div class="room-card" *ngFor="let hotel of filteredHotels">
            <a href="#" [routerLink]="['/hotel', hotel.id]">
                <img *ngIf="hotel.imageUrl" src="{{ hotel.imageUrl }}" alt="{{ hotel.name }}">
                <img *ngIf="!hotel.imageUrl" src="http://localhost:8080/images/none.png" alt="{{ hotel.name }}">
            </a>
            <h2>{{ hotel.name }}</h2>
            <p>{{ hotel.address }}</p>
            <p>{{ hotel.stars }} ⭐</p>
            <p>{{ hotel.pricePerNight }} €</p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Hôtel de Rêve</p>
</footer>