<header>
    <h1>Hôtel de Rêve</h1>
    <div class="search-bar">
        <input type="text" placeholder="Rechercher une ville...">
        <button>Rechercher</button>
    </div>
</header>

<main>
    <div class="city">
        <div *ngFor="let city of listCities" (click)="filterByCity(city.id)" class="city-buttons">
            <button class="city-button">{{ city.name }}</button>
        </div>
        <button (click)="resetFilter()" class="city-button">Toutes les villes</button>
    </div>
    <section class="rooms">
        <div class="room-card" *ngFor="let hotel of filteredHotels">
            <a href="">
                <img *ngIf="hotel.imageUrl" src="{{ hotel.imageUrl }}" alt="{{ hotel.name }}">
                <img *ngIf="!hotel.imageUrl" src="http://localhost:8080/images/none.png" alt="{{ hotel.name }}">
            </a>
            <h2>{{ hotel.name }}</h2>
            <p>{{ hotel.address }}</p>
            <p>{{ hotel.stars }} ⭐</p>
            <p>{{ hotel.pricePerNight }} €</p>
        </div>
        <div class="room-card">
            <a href="">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg" alt="Chambre Deluxe">
            </a>
            <h2>Chambre Deluxe</h2>
            <p>Vue imprenable et équipements premium.</p>
        </div>
        <div class="room-card">
            <a href="">
                <img src="https://www.turenne.com/media/cache/jadro_resize/rc/p35z1T8e1709124243/jadroRoot/medias/5cc700adbfa0b/5cc7027f17b8d/chambre-triple-pre-mium.jpg" alt="Suite Familiale">
            </a>
            <h2>Suite Familiale</h2>
            <p>Idéale pour les familles.</p>
        </div>
        <div class="room-card">
            <a href="">
                <img src="https://www.atlantichotel.fr/userfiles/images/nos_chambres/Atlantic_h%C3%B4tel_spa_chambre_5_.jpg" alt="Suite nuptiale">
            </a>
            <h2>Suite Nuptiale</h2>
            <p>Idéal pour les jeunes mariés.</p>
        </div>
        <div class="room-card">
            <a href="">
                <img src="https://www.atlantichotel.fr/userfiles/images/nos_chambres/Atlantic_h%C3%B4tel_spa_chambre_5_.jpg" alt="Chambre simple">
            </a>
            <h2>Chambre simple</h2>
            <p>Confortable et abordable.</p>
        </div>
        <div class="room-card">
            <a href="">
                <img src="https://www.atlantichotel.fr/userfiles/images/nos_chambres/Atlantic_h%C3%B4tel_spa_chambre_5_.jpg" alt="Chambre double">
            </a>
            <h2>Chambre double</h2>
            <p>Idéal pour les couples.</p>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2025 Hôtel de Rêve</p>
</footer>